{% load static menu_tags %}
<div class="footer-logo uk-flex uk-flex-center">
  <a
    href="https://ecds.emory.edu"
    class="uk-padding-large uk-padding-remove-vertical"
    target="_blank"
  >
    <img
      src="{% static 'images/footer/ecds.png' %}"
      alt="Emory Center for Digital Scholarship"
    />
  </a>
  <a
    href="https://ecds.emory.edu"
    class="uk-padding-large uk-padding-remove-vertical"
    target="_blank"
  >
    <img
      src="{% static 'images/footer/neh.png' %}"
      alt="National Endowment for the Humanities"
    />
  </a>
</div>
<div
  class="footer-bottom uk-margin-top uk-text-center uk-text-lead uk-padding-small"
>
  Engage with digitized print materials on an open source software platform and
  share new thinking.
</div>
